html, body {
    width: 150px;
}


#calendue-title {
    background-color: #E9E9E9;
    color: #2196F3;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-style: Markerfelt;
}


#add-course {
    padding: 10px 10px 10px 10px;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 10px;
}

.login-form, .sign-up-form, .logout {
    color: #6938ff;
    cursor: pointer;
}

.navigation {
    width: 100%;
    height: 50px;
    position: relative;
    display: block;
    bottom: 0px;
    vertical-align: top;
    overflow: hidden;
    border-top: 1px solid rgb(238, 238, 238);
    background-color: rgb(254, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-button {
    width: calc(45%);
    height: 50px;
    display: inline-flex;
    justify-content: center;
    font-weight: 500;
    font-size: 26px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    vertical-align: top;
    cursor: pointer;
}

.nav-button-icon-clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 56px;
    box-sizing: border-box;
    padding-top: 4px;
    opacity: 1;
    cursor: pointer;
    /*was default*/
    border-bottom: 4px solid #2196F3;
}

.nav-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 56px;
    box-sizing: border-box;
    padding-top: 0px;
    opacity: 0.4;
}

/*href later */

/*Note: the following code for the loading icon comes from https://loading.io/css/ */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #737373;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
/* end of code for loading icon */