#macro(mainContent $css_name, $javascript)
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/${css_name}.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
    	if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
    </script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    $javascript
    <title> Calendue </title>
</head>
<body>
#if($flashes)
<div class="flash">
<ul>
#foreach( $flash in $flashes)
<li>$flash</li>
</ul>
#end
</div>
#end
<div id="content-container">
$bodyContent
</div>
</body>
#end
