#parse("/templates/layout.vm")
#set( $css_name = "webpage" )
#@mainContent($css_name)
<div class="topnav">
    <a class="active" href="#home">Calendue</a>
    <input type="text" placeholder="Search class..">
</div>
#end