#parse("/templates/layout.vm")
#set( $css_name = "calendar" )
#@mainContent($css_name)
<div class="topnav">
    <a class="active" href="#home">Calendue</a>
    <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
</div>
#end