.container {
    position:relative;
}
.flash {
    display: inline-block;
    border: 1px solid #666;
    padding: 12px 20px;
    background-color: #00ffff;
}

body {font-family: Arial, Helvetica, sans-serif; text-align: center;}